image: node:16

stages:
  - build
  - test
  - quality
  - deploy

cache:
  paths:
    - node_modules/

before_script:
  - npm install
  - npm install -g firebase-tools

build:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - build/
test:
  stage: test
  coverage: '/^\d+\.\d+$/'
  script:
    - npm test -- --coverage --watchAll=false --detectOpenHandles --forceExit
  artifacts:
    paths:
      - coverage/lcov.info

sonarqube:
  stage: quality
  needs:
    - test
  image:
    name: sonarsource/sonar-scanner-cli:4.6
    entrypoint: [ "" ]
  script:
    - sonar-scanner
      -Dsonar.host.url=https://sonarqube.cs.ui.ac.id
      -Dsonar.login=$SONAR_LOGIN
      -Dsonar.projectKey=$SONAR_PROJECT_KEY
      -Dsonar.sources=.
      -Dsonar.exclusions="**/*.test.*, **/*StyledComponents.*"
  dependencies:
    - test
  allow_failure: true


staging:
  stage: deploy
  needs:
    - build
    - test
  environment:
    name: staging
  script:
    - firebase deploy --token $FIREBASE_TOKEN -P $STAGING_ID
  dependencies:
    - build
  only:
    - staging

production:
  stage: deploy
  needs:
    - build
    - test
  environment:
    name: production
  script:
    - firebase deploy --token $FIREBASE_TOKEN -P $PROD_ID
  dependencies:
    - build
  only:
    - master

