image: node:16

include:
  - template: Code-Quality.gitlab-ci.yml

stages:
  - install_dependencies
  - build
  - test
  - quality
  - deploy

cache:
  paths:
    - node_modules/


install_dependencies:
  stage: install_dependencies
  cache: 
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
      - node_modules/
  script:
    - npm ci
  only:
    changes:
      - package-lock.json

build:
  stage: build
  cache: 
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
      - node_modules/
    policy: pull
  script:
    - npm run build
  artifacts:
    paths:
      - build/

test:
  stage: test
  script:
    - npm test -- --coverage --watchAll=false --detectOpenHandles --forceExit
  artifacts:
    paths:
      - coverage/
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml

code_quality:
  stage: test
  artifacts:
    expose_as: 'Code Quality Report'
    paths: [gl-code-quality-report.json]
    expire_in: 10 days
  allow_failure: true

code_quality_html:
  stage: test
  extends: code_quality
  variables:
    REPORT_FORMAT: html
  artifacts:
    expose_as: 'Code Quality Report HTML'
    paths: [gl-code-quality-report.html]
    expire_in: 10 days

sonarqube:
  stage: quality
  needs:
    - test
  image:
    name: sonarsource/sonar-scanner-cli:4.6
    entrypoint: [ "" ]
  script:
    - sonar-scanner -Dsonar.login=$SONAR_LOGIN -Dsonar.projectKey=$SONAR_PROJECT_KEY
  dependencies:
    - test
  allow_failure: true


staging:
  stage: deploy
  needs:
    - build
    - test
  environment:
    name: staging
  before_script:
    - npm install -g firebase-tools
  script:
    - firebase deploy --token $FIREBASE_TOKEN -P $STAGING_ID
  dependencies:
    - build
  only:
    - staging

production:
  stage: deploy
  needs:
    - build
    - test
  environment:
    name: production
  before_script:
    - npm install -g firebase-tools
  script:
    - firebase deploy --token $FIREBASE_TOKEN -P $PROD_ID
  dependencies:
    - build
  only:
    - master

