.image {
  display: none;
}

.imageOverlay {
  display: none;
}

.imageOverlay.show {
  position: absolute;
  overflow: auto;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.image.full {
  z-index: 99999;
  overflow: auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.image.full > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.image.full::-webkit-scrollbar {
  display: none;
}