.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr); /* three columns with equal width */
    gap: 1rem;
    margin: 50px;
}

.card {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    background: linear-gradient(to bottom, #36dcc3, #279686);
}

.page_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: fit-content;
    padding: 0;
    width: 100%;
    overflow: auto;
}

.rounded {
    border-radius: 50%;
    padding-top: 16px
}

.card .content {
    position: absolute;
    width: 100%;
    padding: 30px;
    padding-top: 228px;
    text-align: left;
}

.card .content h4 {
    margin-top: 10px;
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 15px;
}
