.grid-container-tutor {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr); /* three columns with equal width */
    gap: 1rem;
    margin: 50px;
}

.card-tutor-dashboard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    overflow: hidden;
    background: linear-gradient(to bottom, #36dcc3, #279686);
}

.card-tutor-dashboard::before {
    content: "";
    position: absolute;
    top: -140px;
    left: -40%;
    padding: 0;
    width: 100%;
    height: 120%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
    transform: rotate(35deg);
    pointer-events: none;
    filter: blur(5px);
}

.card-tutor-dashboard .icon {
    position: relative;
    width: 200px;
    height: 80px;
    background: #3c2846;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card-tutor-dashboard .icon .ion-icon {
    margin-top: 15px;
    color: #fff;
    position: relative;
    font-size: 2em;
    z-index: 1000;
}


.card-tutor-dashboard .content {
    position: absolute;
    width: 100%;
    padding: 30px;
    padding-top: 80px;
    text-align: center;
}

.card-tutor-dashboard .content h4 {
    margin-top: 10px;
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 15px;
}
