.container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.page {
  flex-basis: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  height: 100vh;
  background-color: white;
  display: flex;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.page::-webkit-scrollbar {
  display: none;
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}
.sidebar {
  height: 100vh;
  width: fit-content;
  position: absolute;
  flex-grow: 0;
  display: flex;
  color: #fff;
  flex-direction: column;
  transition: transform 0.5s ease;
  z-index: 9999;
  background: #279686;
}

.hide_overlay {
  display: none;
}

.hide {
  transform: translateX(-100vw);
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  font-size: 30px;
  display: block;
  cursor: pointer;
}

.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover {
  background: #e0e0e07f;
  transition: all 0.5s;
}

.active {
  background: #e0e0e07f;
}

.link_text {
  display: block;
}

.icon,
.link_text {
  font-size: 20px;
}

@media only screen and (max-width: 425px) {
  .page {
    flex-basis: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    height: 100vh;
  }
}
